<section>
    <div>
                    <div class="text-center">

                {{!-- <iframe class="video" width="100%" height="650vh" src="https://www.youtube.com/embed/TiEKVwGFoQA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> --}}
                <img src="/img/workEmpowersWomen.png" width="100%">
                <br>
                <a href="#donations" class="scale" style="font-size:30px; color: black; text-decoration:none">↓</a>
   <div class="container">
             <a NAME="donations"><p class="lead">We support women who are refugees, asylum seekers or migrants, we help them to develop confidence and skills to move into the workforce. 

We know <strong>Work Empowers Women.</strong>

When you support SisterWorks, our Sisters become our business partners and they can develop and sell ethically, locally and handmade products.

With your donations, we reinvest in our workplace and training centres to support more women.

Thank you!

             <br><br>
             {{!-- <p>We are raising money to empower our entrepreneurs to reach new grounds with their business ideas and products.</p> --}}
             {{!-- <strong>Where the money goes</strong></p>

            <br>
            <div id="chartContainer" style="height: 200px; width: 100%;"></div>
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script> --}}
            

            <br>

           <strong class="charity" style="color:#000000">Donations of $2 or more to SisterWorks are tax deductible in Australia</strong>
           <br>

          
<br>            
<script src="https://donorbox.org/install-popup-button.js" type="text/javascript" defer></script>
<a class="dbox-donation-button" href="https://donorbox.org/sisterworks-donation?amount=0" style="background:#ff5c5c; color: #fff;text-decoration: none; width:200px; font-family: Verdana,sans-serif;display: inline-block;font-size: 16px;padding: 15px 38px 15px 38px;" >Donate</a>
                    </div></a>
<br>
           <p>We also accept direct deposits to: <br>

<strong>SisterWorks Inc.</strong> <br> 
BSB: 083-004 <br>
Account Number: 73 322 5805 <br><br>
<i>*When you send a direct deposit, please send your details to <a href="mailto:info@sisterworks.org.au">info@sisterworks.org.au</a> so we can track your donation.</i>
           </p>


<footer style="padding-top:30px">
   <a NAME="footer">
           <nav width="100%" class="navbar" style="background: #F2EFEF">
               <div class="container">
               <p class="text-center" style="text-align: center; font-size:13px">SisterWorks supports women to become independent by helping them gain access to social support and employment opportunities so that they are able to support themselves financially. We support women promoting and developing social entrepreneurship. </p>
</div>
   </nav>
   </a> 
       

</footer>
        </div>   
              </div>      
                      </div>

                      <script>
window.onload = function() {

var chart = new CanvasJS.Chart("chartContainer", {
	animationEnabled: true,
	data: [{
		type: "pie",
		startAngle: 240,
		yValueFormatString: "##0\"%\"",
		indexLabel: "{label} {y}",
		dataPoints: [
			{y: 7, label: "Fundraising", color: "#111617"},
			{y: 20, label: "Marketing", color: "#ED1C24"},
			{y: 18, label: "Operations", color: "#783117"},
			{y: 12, label: "Social Support", color: "#CAB35D"},
			{y: 43, label: "Training & Projects", color: "#F59997"}
		]
	}]
});
chart.render();

}
</script>

</section>