<section class="text-center">
        <div class="video">
                <video width="60%" autoplay controls controlsList="nodownload">
                    <source src="/videos/thankYouSW.mp4" type="video/mp4">
                    <source src="/videos/thankYouSW.ogg" type="video/ogg">
                        Your browser does not support HTML5 video.
                </video>
        </div>
        <p class="container py-4">
          Thank you for your donation. These vital funds will help SisterWorks continue to support migrants, asylum seekers and refugee women to reach their full potential. 
                We are more empowered when we work together.
        With appreciation, 
        <br>
        - the SisterWorks family
        </p>
   
        <a href="/" style="color: black; text-decoration:none"><p>Back to donation page</p></a>
</section>